.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: beige;
  width:100vw;
  border-radius: 30px;
  margin-bottom: 30px;
}
.back-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top:30px;
  margin-right: 70px;
}
.back-option {
  border-radius: 5px;
  border: 1px solid red;
  color: black;
  font-weight: 600;

}
.back-option:hover{
  background-color: rgb(226, 39, 39);
}
.form-details-container {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
}
input {
  font-size: 15px;
  padding: 10px;
  width: 45%;
  max-width: 250px;
  border-radius: 8px;
  border: 1;
}
input:hover{
  border-color: green;
  border:2px solid green;
}
.label-card {
  display: flex;
  width: 30%;
  max-width:500px;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.multi-select {
  border: 1;
  width: 45%;
  max-width: 400px;
}
.multi-select-options {
  font-size: 16px;
}
.submit-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn {
  width: 10%;
  background-color: rgb(70, 146, 183);
  color: azure;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
}
.wrapper{
 
  display: flex;
  align-items: center;
}

.radio-container{
  display: flex;
  
}
.radio{
  display: flex;
  margin: 6px;
  padding: 5px;
}
.radio-input{
  margin-right:6px;
}
